﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProjectMenu.ascx.cs"
    Inherits="DrishProject.UserControls.ProjectMenu" %>
<div>
    <asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/Images/details_new.gif"
        OnClick="ImageButton1_Click" />
    <asp:ImageButton ID="ImageButton2" runat="server" 
        ImageUrl="~/Images/tabs_bt_02.gif" onclick="ImageButton2_Click" />
    <asp:ImageButton ID="ImageButton3" runat="server" 
        ImageUrl="~/Images/tabs_bt_06.gif" onclick="ImageButton3_Click" />
    <asp:ImageButton ID="ImageButton4" runat="server" ImageUrl="~/Images/tasks.gif" 
        onclick="ImageButton4_Click" />
    <asp:ImageButton ID="ImageButton5" runat="server" 
        ImageUrl="~/Images/tabs_bt_05.gif" onclick="ImageButton5_Click" />
    <asp:ImageButton ID="ImageButton6" runat="server" 
        ImageUrl="~/Images/tabs_bt_08.gif" onclick="ImageButton6_Click" />
    <asp:ImageButton ID="ImageButton7" runat="server" 
        ImageUrl="~/Images/tabs_bt_03.gif" onclick="ImageButton7_Click" />
    <asp:ImageButton ID="ImageButton8" runat="server" 
        ImageUrl="~/Images/tabs_bt_10.gif" onclick="ImageButton8_Click" />
    <asp:ImageButton ID="ImageButton9" runat="server" 
        ImageUrl="~/Images/tabs_bt_07.gif" onclick="ImageButton9_Click" />
    <asp:ImageButton ID="ImageButton10" runat="server" 
        ImageUrl="~/Images/tabs_bt_08.gif" onclick="ImageButton10_Click" />
    <asp:ImageButton ID="ImageButton11" runat="server" 
        ImageUrl="~/Images/tabs_bt_09.gif" onclick="ImageButton11_Click" />
</div>
