﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UC_ColorPane.ascx.cs" Inherits="DrishProject.UserControls.UC_ColorPane" %>
<style type="text/css">
	.style1
	{
		width: 16.5%;
	}
   .style2
   {
       width:20%;
   }
</style>
<table width="110%" cellspacing="2" cellpadding="1" style="BORDER-RIGHT: #ff9966 thin solid; BORDER-TOP: #ff9966 thin solid; FONT-SIZE: 10pt; BORDER-LEFT: #ff9966 thin solid; BORDER-BOTTOM: #ff9966 thin solid; FONT-FAMILY: Verdana">
	<%--<tr>
		<td width="17%" align="center"><asp:Label id="lblNew" runat="server" Width="100%"></asp:Label></td>
		<td width="17%" align="center"><asp:Label id="lblAssigned" runat="server" Width="100%"></asp:Label></td>
		<td width="17%" align="center"><asp:Label id="lblOverdue" runat="server" Width="100%"></asp:Label></td>
		<td width="17%" align="center"><asp:Label id="lblQAed" runat="server" Width="100%"></asp:Label></td>
		<td width="17%" align="center"><asp:Label id="lblMaintenance" runat="server" Width="100%"></asp:Label></td>
		<td width="28%" align="center"><asp:Label id="lblCompleted" runat="server" Width="100%"></asp:Label></td>
	</tr>--%>
	<tr>
		<td bgcolor="#ffa0a0" align="center" class="style1">New</td>
		<td bgcolor="#c8c8ff" align="center" class="style1">Assigned</td>
		<td bgcolor="#ff50a8" align="center" class="style1">Overdue</td>
		<td bgcolor="#ffffb0" align="center" class="style1">QAed(issues)</td>
		<td bgcolor="#ffd850" align="center" class="style1">Maintenance</td>
		<td bgcolor="#cceedd" align="center" class="style2">QAed(no issues) / Completed</td>
	</tr>
</table>