﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UC_Footer.ascx.cs" Inherits="DrishProject.UserControls.UC_Footer" %>
<link href="http://localhost:53154/Styles.css" rel="stylesheet" 
    type="text/css" />
<link href="http://localhost:52267/Styles.css" rel="stylesheet" 
    type="text/css" />
<table id="Site_footer" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="bot">
	<tbody>
		<tr>
			<td>
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<TBODY>
						<tr>
							<td height="21" width="60%" align="right" class="copyrights">
								<a href="Default2.aspx" target="_blank" class="footerlink">Website</a>&nbsp;::&nbsp;
								<a href="About.aspx" target="_blank" class="footerlink">About 
									Us</a>&nbsp;::&nbsp; <a href="Contactus.aspx" target="_blank" class="footerlink">
									Contact Us</a>
							</td>
							<td class="copyrights" width="40%" align="right">Best viewed at 1024 x 768 
								resolution</td>
						</tr>
					</TBODY>
				</table>
			</td>
		</tr>
	</TBODY>
</table>
