body {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 9pt;
	color: #333333;
	text-decoration: none;
}
.GridBG
{
	background-color: #f7f7f7;
	}
	.color
{
	color: red;
	font-size : xx-small
	}
.searchtablestyle
{
	border: 1px solid #ff9933;
    width: 116%;
}
	.sepitstxt:link {
 font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ff9933;
    text-decoration: none;
}
.footerlink:link {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 8pt;
 font-weight: normal;
 color: #FFFFFF;
 text-decoration: none;
 left: 0px;
 top: 1px;
 right: 0px;
 bottom: 10px;
}
.footerlink:active {
  font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 8pt;
 font-weight: normal;
 color: #FFFFFF;
 text-decoration: none;
 left: 0px;
 top: 1px;
 right: 0px;
 bottom: 10px;
}
.footerlink:visited {
   font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 8pt;
 font-weight: normal;
 color: #FFFFFF;
 text-decoration: none;
 left: 0px;
 top: 1px;
 right: 0px;
 bottom: 10px;
}
.footerlink:hover {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 8pt;
 font-weight: normal;
 color: #FFFFFF;
 text-decoration: underline;
 left: 0px;
 top: 1px;
 right: 0px;
 bottom: 10px;
}
.sepitstxt:active {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-weight: bold;
   color: #ff9933;
   text-decoration: none;
}
.sepitstxt:visited {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-weight: bold;
   color: #ff9933;
   text-decoration: none;
}
.sepitstxt:hover {
 font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
   color: #ff9933;
   text-decoration: underline;
}
.StatusTbl
{
	BORDER-RIGHT: #ff9933 1px solid;
	BORDER-TOP: #ff9933 1px solid;
	BORDER-LEFT: #ff9933 1px solid;
	BORDER-BOTTOM: #ff9933 1px solid;
	BACKGROUND-COLOR: khaki;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	}
	
.topbar {
	background-image: url('images/index_04.gif');
	background-repeat: repeat
}
.topsubbar {
	background-image: url('images/index_06.gif');
	background-repeat: repeat
}
.leftmenubor {
	border: 1px solid #D96526;
	background-color: #F1D1B1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
.bot {
	background-image: url(images/index_14.gif);
	height:24px;
	background-repeat: repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 5px;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: none;
}

 .headerpad {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.pmstxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #ff9933;
	text-decoration: none;
}
.copyrights {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	left: 0px;
	top: 1px;
	right: 0px;
	bottom: 10px;
}
.msgboard {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: #333300;
	background-color: GainsBoro;
	text-decoration: none;
	left: 0px;
	top: 1px;
	right: 0px;
	bottom: 10px;
}
.admin {
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.loginbg {
	background-color: #D96526;
	border-top: 1px solid #D96526;
	border-right: 1px solid #D96526;
	border-bottom: 1px solid #D96526;
	border-left: 1px solid #D96526;
}
.logintxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.Pagertxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #ff9933;
	text-decoration: none;
	text-align:center ;
	background-color: Gainsboro;
	vertical-align:middle;   
}
.Pagertxt1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #ff9933;
	text-decoration: none;
	
	background-color: Gainsboro;
	vertical-align:middle;   
}
.formbox {
	border: 1px solid #D96526;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.whitebg {
	BACKGROUND-COLOR: #F1D1B1
}
.relatedlinks:link {
	COLOR: #333333;
	TEXT-DECORATION: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.relatedlinks:active {
	COLOR: #000066;
	TEXT-DECORATION: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.relatedlinks:visited {
	COLOR: #333333;
	TEXT-DECORATION: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.relatedlinks:hover {
	COLOR: #FE6C2C;
	TEXT-DECORATION: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.whitebgleftmenu {

	BACKGROUND-COLOR: #FFFFFF
}
.white-txt {
	background-image: url('images/wt_line.gif');
	background-repeat: repeat-x
}
.admintxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #D96526;
	text-decoration: none;
}
.grytxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
	text-decoration: none;
}

.center-bg {
	background-color:#FFE2C5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
    height: 53px;
    width: 100%;
}
.tableheadbg {
	background-color: #FF7200;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 2px;
	padding-top: 2px;
	font-weight: bold;
}
a:link	{	
	text-decoration:	none;
	color:	#3333cc;
	}	
		
a:visited	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
a:active	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
a:hover	{	
	text-decoration:	underline;
	color:	#3333cc;
	}

.lnk
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;

}
.Gridtxt {

.Gridtxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: red;
	text-decoration: none;
}
.GridHead {
	background-color:Gainsboro;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:Black ;
	border-color :White ;
	text-align: left;
	vertical-align:middle;   
	
}
.SubGridHead {
	background-color:#F7F7F7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:Black ;
	border-color :White ;
	text-align: left;
	vertical-align:middle;   
	
}
.TDStyle
{
	background-color:Gainsboro;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:Black ;
	text-align: left;
	vertical-align:top;   
	text-decoration:none;
	BORDER-BOTTOM: #ff9900 thin solid;
	}
.TDDeleteStyle
{
	background-color:Gainsboro;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:Black ;
	text-align: left;
	vertical-align:middle;   
	text-decoration:none;
	BORDER-BOTTOM: #ff9900 thin solid;
	}
.ModuleTDStyle
{
	background-color:#fef0db;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:Black ;
	text-align: left;
	vertical-align:top;   
	text-decoration:none;
	BORDER-BOTTOM: #ff9900 thin solid;
	}
.ModuleDeleteTDStyle
{
	background-color:#fef0db;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:Black ;
	text-align: center;
	vertical-align:middle;   
	text-decoration:none;
	BORDER-BOTTOM: #ff9900 thin solid;
	}
.GridFoot {
	background-color:#CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:Black ;
	text-align:center;
	vertical-align:middle;   
}
.Labeltxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}







.SearchTblHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	background-color:#ff9933;
}
.WhiteLabeltxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
.smalltxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
}
.MendatoryFld {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: red;
	font-weight: bold;
	text-decoration: none;
}
.tableborder 
{
	 border: 1px solid #ff9933;
}

.CalControl
{
	background-color :White;
	border-color: #003063;
	color: #003063; 
}
	
.CalCurrentDay
{
	background-color : White;	
}

.DayHeader
{
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color:White;   
}

.CalTitle
{
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color:#DDDDDD ;   
}

.OtherMonthDay
{
	text-align:center;
	color:#003063;
	vertical-align:middle;
	background-color: White;  
}

.SelectedDay
{
	color:Black;
	background-color:#FFE2C5
}

div.calendar {
 
POSITION: relative
 
}
 
.calendar {
 
BORDER-RIGHT: #FF7200 1px solid; BORDER-TOP: #FF7200 1px solid; FONT-SIZE: 11px; BACKGROUND: #f1f8fc; BORDER-LEFT: #FF7200 1px solid; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #FF7200 1px solid; FONT-FAMILY: tahoma,verdana,sans-serif
 
}
 
.calendar table {
 
BORDER-RIGHT: #206a9b 1px solid; BORDER-TOP: #206a9b 1px solid; FONT-SIZE: 11px; BACKGROUND: #f1f8fc; BORDER-LEFT: #206a9b 1px solid; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #206a9b 1px solid; FONT-FAMILY: tahoma,verdana,sans-serif
 
}
 
.calendar .button {
 
PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
 
}
 
.calendar .nav {
 
BACKGROUND: #FFF3DE url(menuarrow2.gif) no-repeat 100% 100%}
 
.calendar THEAD .title {
 
PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #FFFFFF; PADDING-BOTTOM: 2px; COLOR: #FF7200; PADDING-TOP: 2px; TEXT-ALIGN: center
 
}
 
.calendar THEAD tr {
 
BACKGROUND: #FFF3DE; COLOR: #FF7200
}
 
.calendar THEAD .daynames {
 
BACKGROUND: #FFE3C6
}
 
.calendar THEAD .name {
 
PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #FF7200 1px solid; TEXT-ALIGN: center
 
}
 
.calendar THEAD .weekend {
 
COLOR: #a66
 
}
 
.calendar THEAD .hilite {
 
PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: #000; PADDING-TOP: 1px; BACKGROUND-COLOR: #FFE2C5}
 
.calendar THEAD .active {
 
PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #FFE2C5}
 
.calendar tbody .day {
 
PADDING-RIGHT: 4px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 2em; COLOR: #456; PADDING-TOP: 2px; TEXT-ALIGN: right
 
}
 
.calendar tbody .othermonth {
 
FONT-SIZE: 80%; COLOR: #bbb
 
}
 
.calendar tbody .oweekend {
 
COLOR: #CCCCCC
}
 
.calendar table .wn {
 
BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BACKGROUND: #FFF3DE; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
 
}
 
.calendar tbody .rowhilite td {
 
BACKGROUND: #FFF3DE}
 
.calendar tbody .rowhilite td.wn {
 
BACKGROUND: #FFE3C6
}
 
.calendar tbody td.hilite {
 PADDING-RIGHT: 3px;
 PADDING-LEFT: 1px;
 BACKGROUND: #FFF3DE;
 PADDING-BOTTOM: 1px;
 PADDING-TOP: 1px;
 border: 1px solid #FF7200;
}
 
.calendar tbody td.active {
 
PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #FF7200; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
 
}
 
.calendar tbody td.selected {
 PADDING-RIGHT: 3px;
 PADDING-LEFT: 1px;
 FONT-WEIGHT: bold;
 BACKGROUND: #fff;
 PADDING-BOTTOM: 1px;
 COLOR: #000;
 PADDING-TOP: 1px;
 border: 1px solid #FF7200;
}
 
.calendar tbody td.weekend {
 
COLOR: #a66
 
}
 
.calendar tbody td.today {
 FONT-WEIGHT: bold;
 COLOR: #FF7200;
}
 
.calendar tbody .disabled {
 
COLOR: #999
 
}
 
.calendar tbody .emptycell {
 
VISIBILITY: hidden
 
}
 
.calendar tbody .emptyrow {
 
DISPLAY: none
 
}
 
.calendar TFOOT .footrow {
 
BACKGROUND: #FFE3C6; COLOR: #fff; TEXT-ALIGN: center
 
}
 
.calendar TFOOT .ttip {
 
PADDING-RIGHT: 1px; BORDER-TOP: 1px solid #FF7200; PADDING-LEFT: 1px; BACKGROUND: #FFE2C5; PADDING-BOTTOM: 1px; COLOR: #FF7200; PADDING-TOP: 1px
 
}
 
.calendar TFOOT .hilite {
 
BORDER-RIGHT: #178aeb 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #178aeb 1px solid; PADDING-LEFT: 1px; BACKGROUND: #b8daf0; PADDING-BOTTOM: 1px; BORDER-LEFT: #178aeb 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #178aeb 1px solid
 
}
 
.calendar TFOOT .active {
 
PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: #006aa9; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
 
}
 
.calendar .combo {
 
BORDER-RIGHT: #655 1px solid; BORDER-TOP: #655 1px solid; DISPLAY: none; FONT-SIZE: 90%; Z-INDEX: 100; BACKGROUND: #def; LEFT: 0px; BORDER-LEFT: #655 1px solid; WIDTH: 4em; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #655 1px solid; POSITION: absolute; TOP: 0px
 
}
 
.calendar .combo .label {
 
PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
 
}
 
.calendar .combo .label-IEfix {
 
PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
 
}
 
.calendar .combo .label-IEfix {
 
WIDTH: 4em
 
}
 
.calendar .combo .hilite {
 
BORDER-TOP: #46a 1px solid; FONT-WEIGHT: bold; BACKGROUND: #FF7200; BORDER-BOTTOM: #46a 1px solid
 
}
 
.calendar .combo .active {
 
BORDER-TOP: 1px solid #FF7200; FONT-WEIGHT: bold; BACKGROUND: #f1f8fc; BORDER-BOTTOM: 1px solid #FF7200
}
 
.calendar td.time {
 
PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #e3f0f9; TEXT-ALIGN: center
 
}
 
.calendar td.time .hour {
 
BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #f1f8fc
 
}
 
.calendar td.time .minute {
 
BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #f1f8fc
 
}
 
.calendar td.time .ampm {
 
BORDER-RIGHT: #889 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #889 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #889 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #889 1px solid; BACKGROUND-COLOR: #f1f8fc
 
}
 
.calendar td.time .ampm {
 
TEXT-ALIGN: center
 
}
 
.calendar td.time .colon {
 
PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
 
}
 
.calendar td.time SPAN.hilite {
 
BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #fff; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #267db7; BORDER-RIGHT-COLOR: #000
 
}
 
.calendar td.time SPAN.active {
 
BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; COLOR: #a5ff00; BORDER-TOP-COLOR: red; BACKGROUND-COLOR: #000; BORDER-RIGHT-COLOR: red
 
}
.DIVtablestyle
 
{
 BORDER-RIGHT: #ff9933 1px solid;
 BORDER-TOP: #ff9933 1px solid;
 BORDER-LEFT: #ff9933 1px solid;
 BORDER-BOTTOM: #ff9933 1px solid;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-style: normal;
 color: #000000;
 text-decoration: none;
}

/*dsr css from here*/

.orgbg {
	background-color: #FF9933;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 5px;
}
.dsr_gridbg {
	background-color: #F7F7F7;
	width: 99%;
	border: 2px solid #E2E2E2;
}
.gridtxtnew {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 0px;
	text-align: left;
}
.gridformbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	width: 100px;
}

.gridboxsmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	width:60px;
}
.summary {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	}
.hrs {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.tbborder {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-style: solid;
	border-right-color: #FF9933;
	border-bottom-color: #FF9933;
	border-left-color: #FF9933;
	border-top-color: #FF9933;
}
.report {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	width: 595px;
	height: 100px;
}
.dropdown{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	width: 110px;
}
.dropdownlarge{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	width: 300px;
}
.footerbgtxt{
    border: 1px solid #ff9966;  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
}
.footermarqueebg {
	background-color: #E5E5E5;
    height: 30px;
     font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.footertxtnew{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 8pt;
 font-weight: normal;
 color: #FFFFFF;
 text-decoration: none;
 left: 0px;
 top: 1px;
 right: 0px;
 bottom: 10px;
}
.gridboxmedium {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	width:100px;
}
.gridformboxlarge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	width: 150px;
	height:18px;
}
.lightgreybgcolor {
	background-color: #E5E5E5;
	height:20px;
}
.whitebgcolor {
	background-color: #FFFFFF;
	height:20px;
}
.gridformbox1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
	width: 147px;
	height:18px;
}
.gridtxt1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 0px;
	text-align: left;
}


/* Resource allocation sheet css */

.td
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:Left;
	
}


.resourcebgcolor
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:Left;	
	background-color:#CCFFCC;
	}
.projectbgcolor
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:center;	
	background-color:#CC99FF;
	}
.yellowbgcolor
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:center;	
	background-color:#FFCC00;
	}
.qabgcolor
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:center;
	background-color:#CCFFFF;
	}
.developerbbgcolor
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:center;	
	background-color:#FFFFFF;
	}
.babgcolor
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:center;	
	background-color:#FFCC00;
	}
.designerbgcolor
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:center;
	background-color:#FFCC99;
	}
.onsitebgcolor
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:Left;
	background-color:#99CCFF;
	}
.presalebgcolor
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:Black ;
	font-weight: bold;
	text-decoration: none;	
	text-align:Left;
	background-color:#FF00FF;
	}